html
{
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

body
{
	background-color: #121212;
	color: #f2f2f2;
	font-family: Consolas, monospace;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator
{
	border: solid 0.1vw #f2f2f2;
	border-radius: 2vw;
	width: 90vw; /*Aimed to look good on smartphones*/
	height: 66vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

#display
{
	border: solid 0.1vw #f2f2f2;
	border-left: 0;
	border-right: 0;
	height: 15vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding-right: 2vw;
	padding-left: 2vw;

	font-size: 10vh;
	text-align: right;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.buttons
{
	height: 45vh;
	margin: 2vh 2vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5vh;
}

.row
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
	gap: 0.5vh;
}

button
{
	height: 100%;
	width: 21.125vw;
	margin: 0;
	padding: 0;
	font-size: 4vh;
	border: 0;
	border-radius: 1vw;
}

#buttonZero
{
	width: 42.75vw;
}